body {
    background-image: url(./image/codioful-formerly-gradienta-LeG68PrXA6Y-unsplash.jpg);

    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container label {
    font-size: 16px;
    margin-left: 3rem;
}

input[type=email],
input[type=password] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 12px;
    margin-left: 3rem;
}

.modal {
    display: none;
    position: fixed;
    width: 60%;
    height: 100vh;
    padding-top: 60px;

}

.form {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 3px solid #888;
    border-color: cornflowerblue;
    width: 45%;
    background-image: url("./image/mohammad-alizade-XgeZu2jBaVI-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;


}

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    margin-left: 13rem;
    font-size: medium;
    font-weight: 600;
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
    color: darkviolet;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;

}

img.avatar {
    width: 30%;
    height: 22vh;
    border-radius: 50%;
}

.container {
    padding: 16px;


}

.container1 {
    background-image: url("./image/mohammad-alizade-XgeZu2jBaVI-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.forgot {
    color: #fefefe;
}

a {
    color: red;
}